.vertical-navbar {
  list-style-type: none;
  padding-top: 7vh;
  width: 10vw;
  background-color: #333;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.settingsinsetnavbar {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 5vw;
  background-color: #333;
  position: fixed;
  height: 95%;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.horizontal-navbar {
  width: 100%;
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  overflow: auto;
  list-style-type: none;
  height: 7vh;
  position: fixed;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  transition: 500ms;
  border-radius: 0px;
}

li a:hover {
  background-color: #111;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 25px;
}

.active {
  background-color: rgb(77, 77, 77);
}

button {
  float: none;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #333;
  background-color: #333;
}

button a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Change the link color to #111 (black) on hover */
button a:hover {
  background-color: #111;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
  text-decoration: none;
}

.horizontal-navbar {
  width: 100%;
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  overflow: auto;
  list-style-type: none;
}

.maincontent {
  padding-left: 4vw;
  padding-top: 8vh;
}
